<section class="mx-auto flex w-full max-w-180 flex-col gap-6 pb-6">
  <h1 class="text-xl font-extrabold text-light-text dark:text-dark-text sm:text-2xl">
    Bienvenido, {{ displayName() }} 👋
  </h1>

  <!-- <app-quiz-access-form (submitQuizLink)="goToQuizFromLink($event)" /> -->

  <div class="flex flex-col gap-4">
    <app-section-title title="Quizzes Disponibles" icon="sparkles" />

    <div class="flex flex-col gap-4">
      @for (quiz of dashboard().availableQuizzes; track quiz.id) {
        <app-available-quiz-card [quiz]="quiz" (startQuiz)="startQuiz($event)" />
      }
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <app-section-title title="Quizzes Recientes" icon="clock" />

    <div class="flex flex-col gap-4">
      @for (quiz of dashboard().recentQuizzes; track quiz.id) {
        <app-recent-quiz-card [quiz]="quiz" (viewResults)="viewResults($event)" />
      }
    </div>
  </div>
</section>
