<div
  class="flex flex-col justify-between rounded-lg bg-light-surface dark:bg-dark-surface border border-light-border dark:border-dark-border p-3 text-xs gap-3 sm:flex-row sm:items-center">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2 justify-between items-start sm:justify-start">
      <span class="font-semibold text-light-text dark:text-dark-text">{{ match().title }}</span>
      @if (match().status; as status) {
      <qz-status-label [label]="status" [variant]="status | statusVariant" />
      }
    </div>
    <div>
      <span class="text-light-text-secondary dark:text-dark-text-secondary">
        <ng-container i18n="Exam bank title">Course:</ng-container> {{ match().courseName }}</span>
    </div>
    <div
      class="flex flex-wrap justify-between items-center gap-x-2 gap-y-1 text-light-text-secondary dark:text-dark-text-secondary">
      <span><ng-container i18n="Exam bank match duration label">Duration:</ng-container> {{ match().duration }}
        <ng-container i18n="Exam bank match duration unit">mins</ng-container></span>
      <span class="hidden sm:block">•</span>
      <span>{{ match().questionCount }} <ng-container
          i18n="Exam bank match questions count unit">questions</ng-container></span>
      @if (match().startedAt) {
      <span class="hidden sm:block">•</span>
      <span><ng-container i18n="Exam bank match start date label">Start:</ng-container> {{ match().startedAt |
        date:'short' }}</span>
      }
      @if (match().finishedAt) {
      <span class="hidden sm:block">•</span>
      <span><ng-container i18n="Exam bank match end date label">End:</ng-container> {{ match().finishedAt | date:'short'
        }}</span>
      }
    </div>
  </div>
  <div class="flex w-full sm:w-auto gap-3 items-center">
    <qz-text-span class="flex-1" [variant]="'primary'" [routerLink]="['/teacher/exams/edit/', quizId(), match().id]">
      <span i18n="Edit match button label">Edit</span>
    </qz-text-span>
    @if (match().status === 'Active') {
    <qz-button [fullWidth]="true" class="w-full flex-1" variant="secondary" (click)="unpublishMatch.emit(match())">
      <span i18n="Unpublish match button label">Unpublish</span>
    </qz-button>
    }
    @if (match().status === 'Pending') {
    <qz-button [fullWidth]="true" class="w-full flex-1" variant="primary" (click)="publishMatch.emit(match())">
      <span i18n="Unpublish match button label">Publish</span>
    </qz-button>
    }
  </div>
</div>