<section class="mx-auto flex w-full max-w-5xl flex-col gap-5">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-semibold text-primary">Teacher</p>
    <h2 class="text-2xl font-bold text-light-text dark:text-dark-text">
      Question Bank
    </h2>
    <div class="flex gap-3">
      <div class="flex-8">
        <qz-text-input placeholder="Search your question here" [formField]="searchForm.names"
          [clearOption]="clearOptions()" (clearOptionListener)="handleClearClick()" />
      </div>
      <div class="flex-0">
        <qz-button [fullWidth]="true" [variant]="'secondary'" (click)="openFilterModal()">
          <div class="flex gap-0">
            <qz-icon [name]="'filter'" />
            @if (isFilterActive()) {
            <div class="h-1.5 w-1.5 bg-light-text dark:bg-dark-text rounded-xl"></div>
            }
          </div>
        </qz-button>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      @for (question of filteredQuestions(); track question.id) {
      <qz-admin-question-card [question]="question" (newQuestion)="handleNewQuestion($event)"
        (deleteQuestionById)="handleDeleteQuestion($event)" />
      }
      @empty {
      @if (!isLoading()) {
      <div class="flex justify-center items-center h-[50vh]">
        <qz-text-span [text]="'Not Found Questions'" />
      </div>
      }
      }

      @if (isLoading()) {
      <div class="flex justify-center items-center py-4">
        <qz-text-span [text]="'Loading questions...'" />
      </div>
      }

      @if (hasMore() && questions().length > 0) {
      <div class="flex justify-center mt-4">
        <qz-button [variant]="'secondary'" (click)="getMoreQuestions()" [disabled]="isLoading()">
          @if (isLoading()) {
            <span>Loading...</span>
          } @else {
            <span>Load More</span>
          }
        </qz-button>
      </div>
      }

    </div>

  </div>
</section>
