<qz-item-container>
    Are you sure that you want to delete this item
</qz-item-container>
<qz-item-container>
    {{ question().content }}
</qz-item-container>
<qz-item-container>
    <div class="flex justify-between gap-3 flex-wrap">
        <qz-button [fullWidth]="true" [variant]="'secondary'" (click)="handleCloseModalEvent()">
            Cancel
        </qz-button>
        <qz-button [fullWidth]="true" [variant]="'danger'" (click)="handleDeleteClick()">
            Delete
        </qz-button>
    </div>
</qz-item-container>